---
- name: resolve platform specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: downloading {{ skaffold_url }}
  become: true
  become_user: root
  get_url:
    url: '{{ skaffold_url }}'
    dest: '{{ skaffold_ver_exe }}'
    checksum: '{{ skaffold_checksum }}'
    mode: 0755
- name: linking {{ skaffold_link }} to {{ skaffold_ver_exe }}
  become: true
  become_user: root
  file:
    src: '{{ skaffold_ver_exe }}'
    dest: '{{ skaffold_link }}'
    state: link
